#head {
  background-color: #00CCAA;
  color: white;
  text-align: center;
  font-size: 17px;
  font-style: inherit;
  border-radius: 0px;
  border-top: solid rgb(15, 132, 15);
  border-bottom: solid rgb(15, 132, 15);
  border-left: solid rgb(15, 132, 15);
  border-right: solid rgb(15, 132, 15);
  border-width: 1px;
}

#foot {
  background-color: rgb(0, 204, 170);
  color: white;
  text-align: center;
  font-size: 12px;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 0px;
  border-top: solid rgb(15, 132, 15);
  border-bottom: solid rgb(15, 132, 15);
  border-left: solid rgb(15, 132, 15);
  border-right: solid rgb(15, 132, 15);
  border-width: 1px;
}
input{
  height:30px;
  width:300px;
  border: 1px solid #000;
  margin-top: 25px;
  float:right;
}

.vl {
  margin-top: 15px;
  margin-bottom: 45px;
  border-left: 2px solid #00CCAA;
  height: 470px;
 
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 20px;
}

#thread {
  padding-top: 5px;
  border-color: rgb(82, 82, 18);
  background-color: rgb(145, 145, 18);
}

tr {
  margin-top: 4px;
  padding-top: 5px;
  border-color: #545e0f;
  text-align: start;
}

th {
  padding-top: 5px;
  margin-top: 4px;
  text-align: start;
  color: white;
}

#enroll {
  padding-bottom: 20px;
  margin-top: 27px;
  text-align: center;
  font-weight: bold;
}

#my-form {
  margin-top: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  margin-block: 10px;
}

#name {
  padding-left: 10px;
  margin-left: 60px;
}

#email {
  padding-left: 10px;
  margin-left: 60px;
}

#website {
  padding-left: 10px;
  margin-left: 60px;
}

#image {
  padding-left: 10px;
  margin-left: 60px;
}

#male {
  padding-left: 10px;
  margin-left: 10px;
}

#female {
  padding-left: 10px;
  margin-left: 10px;
}

#html {

  margin-left: 10px;
}

#css {

  margin-left: 10px;
}

#java {
  margin-left: 10px;
}

#thdes {
  width: 45px;
  background-color: #97a52d;

}

#thimg {
  width: 50px;
  background-color: #97a52d;
}
#form-data{
  width:40px;
}
td {
  font-size: 10px;
  color: #0a0808;
}

tr:nth-child(even) {
  background-color: #ecf4ad;
  border-color: #545e0f;
}

tr:nth-child(odd) {
  border-color: #545e0f;
  background-color: rgb(245, 245, 245);
}

@keyframes shading-fade-in {
  0% {
    opacity: 0;
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* Apply the animation to elements with the shading-fade-effect class */
.shading-fade-effect {
  animation-name: shading-fade-in;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  height: 100px;
  width:100px;
}

 
  
@media (min-width: 600px) {

  /* Style for small devices (576px and up) */

  .form-group-row {

    display: flex;

    flex-wrap: wrap;

    margin-right: -10px;

    margin-left: -10px;

  }

  .form-group-row>.form-control {

    flex-basis: calc(50%-10px);

    margin-bottom: 10px;

    margin-right: 10px;

    margin-left: 10px;

  }

  .form-group-row>label {

    width: 100%;

  }

  .form-group-row>.form-check {
    flex-basis: calc(50%-10px);

    margin-bottom: 10px;

    margin-right: 10px;

    margin-left: 10px;
   
    

  }

}

@media (min-width: 768px) {

  /* Style for medium devices (768px and up) */

  .form-group-row {

    display: flex;

    flex-wrap: wrap;

    margin-right: -15px;

    margin-left: -15px;

  }

  .form-group-row>.form-control {

    flex-basis: calc(50% - 15px);

    margin-bottom: 15px;

    margin-right: 15px;

    margin-left: 15px;

  }

  .form-group-row>label {

    width: 100%;

  }

  .form-group-row>.form-check {

    width: calc(50% - 15px);

    margin-bottom: 10px;

    margin-right: 15px;

    margin-left: 15px;

  }

}


@media (min-width: 992px) {

  /* Style for large devices (992px and up) */

  .form-group-row>.form-control {

    flex-basis: calc(33.33% - 15px);

  }

  .form-group-row>.form-check {

    width: calc(33.33% - 15px);

  }

}


@media (min-width: 1200px) {

  /* Style for extra-large devices (1200px and up) */

  .form-group-row>.form-control {

    flex-basis: calc(25% - 15px);

  }

  .form-group-row>.form-check {

    width: calc(25% - 15px);

  }

}


